<% include ./partials/header %>
<div class="container">
	<% for(let i = found.length-1; i >=0 ; i--) { %>

	<div class="re">
		<article>
			<h2><strong>
					<%=found[i].cname%></strong></h2>
			<h3><strong>
					<%=found[i].title%></strong></h3>
			<p class="para">
				<%= found[i].review %>
			</p>
		</article>
	</div>
	<% } %>
</div>
</center>
<% include ./partials/footer %>
